* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  /* الاشياء الرئيسية او المستركة زي لون الموقع وغيره */
  --primarycolor: #fb2e86;
  --acolor: #8a8fb9;
  --blue: #2f1ac4;
  --white: #fff;
  --bluetext: #151875;
  --besqiue: #ffeac1;
    --h2color:#1A0B5B;
}
.h2color
{
    color: var(--h2color);
}
.textprimary {
  color: var(--primarycolor);
}
.text-blue {
  color: var(--bluetext);
}
.text-white {
  color: #fff;
}
.bluebackground {
  background-color: var(--blue);
}
a {
  text-decoration: none;
  text-align: left;
}
ul {
  list-style-type: none;
}

.btn {
  background-color: var(--primarycolor);
  color: white;
  border: none;
  width: 46px;
  height: 35px;
  outline: none;
  padding: 16px 40px;
  border-radius: 2px;
}
.btn-green
{
    display: none;
    color: #fff;
    position: absolute;
    background-color: #08D15F;
    text-align: center;
    padding: 9px 4px;
    top: 83%;
    left: 32%;
    width: 100px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
}
.container {
  padding: 15px 0;
  margin: auto;
  width: calc(100% - 80px);
}
@media screen and (max-width: 1400px) {
  .container {
    width: calc(100% - 120px);
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 572px) {
  .container {
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: calc(100%);
  }
}

.text-center {
  text-align: center;
}

.d-flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-flex {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: last baseline;
}
.list-gap {
  gap: 23px;
}
.gap-2 {
  gap: 10px;
}
.gap-3 {
  gap: 15px;
}
.gap-4 {
  gap: 20px;
}
.gap-5 {
  gap: 25px;
}
.gap-33 {
  gap: 33px;
}
