.header {
  padding: 47px 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 30px 10px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.list a {
  color: #0d0e43;
}

.header .list-item .first-link {
  color: var(--primarycolor);
}

.header .bar {
  display: none;
}

.search form {
  border: 2px solid #e7e6ef;
  border-radius: 2px;
}

.search input {
  border: none;
  outline: none;
  padding: 15px 0px 3px 7px;
}

.search button {
  background-color: var(--primarycolor);
  border: none;
  outline: none;
  padding: 3px 7px;
}

/* header end */
/* hero start */
.hero .hero-lamp img {
    filter: drop-shadow(-19px 0px 6px rgb(77, 75, 75));
    height: 150px;
    width: 200px;
    object-fit: contain;
  }
  .hero .hero-lamp {
    left: -31px;
    top: 0;
    position: absolute;
  }
  .hero {
    padding: 50px 0;
    position: relative;
    background-color: #F2F0FF;
  }
.hero .row {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
.hero-img img
{
  width: 400px;
  height: 350px;
}
.herobtn {
  padding: 11px 40px;
  width: 155px;
}

.hero-content {
  width: 50%;
  gap: 25px 0;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  padding: 30px;
}



/* hero end */
/* clients */
.clients {
  padding: 50px 0;
}

.clients .row {
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
}

.clients .logo {
  width: calc((100% - 60px) / 6);
}

.clients .logo img {
  width: 70px;
  height: 45px;
}

@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc ((100% - 60px) / 3);
  }
}

/* end clients */

/* prouducts start */
.featured-prouduct {
  padding: 50px 0;
}
.featured-prouduct .row {
  justify-content: flex-start;
  gap: 15px;
}

.featured-prouduct .prouduct {
  border-radius: 8px;
  position: relative;
}

.featured-prouduct .prouduct .sale-badge {
  width: 110px;
}
.prouduct .img {
  position: relative;
  padding: 40px;
  background-color: #F6F7FB;
}

.prouduct img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.small-icons
{
    opacity: 0;
    position: relative;
    align-items: center;
    gap: 19px;
    left: 0;
    top: 5%;
    cursor: pointer;

}
 .featured-prouduct .prouduct .small-icons img
{
  object-fit:contain;  
}
.featured-prouduct .prouduct .small-icons .icon-one
{
    top: -28px;
    left: -79px;
    position: relative;
    width: 30px;
    height: 30px;
}
.featured-prouduct .prouduct .small-icons .icon-two
{
    top: -26px;
    left: -81px;
    position: relative;
    width: 17px;
    height: 17px;
}
.featured-prouduct .prouduct .small-icons .icon-three
{
        left: -77px;
    top: -26px;
    position: relative;
    width: 15px;
    height: 15px;
}
.featured-prouduct h2 {
  margin-bottom: 40px;
}

.featured-prouduct .prouduct {
  flex-grow: 1;
  flex-basis: 270px;
  box-shadow: 0px 0px 25px #0000001a;
  /* same result
    flex : 1 0 270px 
    grow shrink basis*/
}

.prouduct .prouducts-details {
  padding: 10px;
  gap: 10px;
}

.prouduct .prouduct-info {
  gap: 5px;
}

.smallbutton {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1px;
  outline: none;
  height: 5px;
  width: 15px;
  border-radius: 14px;
}

.color-one {
  background-color: #05E6B7;
}

.color-two {
  background-color: #F701A8;
}

.color-three {
  background-color: #00009D;
}

.color-four {
  background-color: var(--besqiue);
}

/* hover start in this section */
.featured-prouduct .prouduct:hover .prouducts-details {
  border-radius: 5px;
  background-color: #2F1AC4;
  transition-duration: 1s;
}

.featured-prouduct .prouduct:hover .prouducts-details h3 {
  transition-duration: 1s;
  color: #fff;
}

.featured-prouduct .prouduct:hover .prouducts-details .prouduct-info {
  transition-duration: 1s;
  color: #fff;
}
.featured-prouduct .prouduct:hover .btn-green
{
    display: block;  
}

.featured-prouduct .prouduct:hover .small-icons
{
opacity: 1;
}
/* hover end in this section */

/* prouducts end */



/* newslater */
.newslater {
  background-repeat: no-repeat;
  background: url(../img/newspaper/newspaper.jpg);
  background-attachment: fixed;
  background-position: -15px -659px;
  background-size: cover;
  padding: 125px 0;
  text-align: center;
}

.newslater h2 {
  font-size: 35px;
  color: #151875;
  margin-bottom: 45px;
}

.newslater .shop-btn:hover {
  color: #312929;
  background-color: #151875;
  transition-duration: 1s;
}

/* newslater end */

/* footer start */
@media screen and (min-width: 0) and (max-width: 1025px) {
  .header .search {
    display: none;
  }

  .header .list {
    display: none;
  }

  .header .bar {
    display: block;
  }
}

/* footer start */
footer {
  background-color: #eeeffb;
}
.footer a,
.address-info {
  color: var(--acolor);
  font-size: 12px;
}

.address-info h2 {
  font-size: 16px;
}

.footer .left-side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 35px;
  align-items: flex-start;
}

.adderss-info {
  color: var(--acolor);
}

.email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 60px;
}

.email form {
  border: 1px #e7e6ef solid;
  width: 237px;
  height: 31px;
}

.email button {
  background-color: var(--primarycolor);
  border: none;
  outline: none;
  padding: 5px 6px 8px 10px;
}

.email input {
  border: none;
  outline: none;
  padding: 0px 0px 3px 7px;
}

/* right side footer */
.footer .right-side 
{
    gap: 45px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.footer .row 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 70px;
  }

.footer-item {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: left;
}

.footer-item h2 {
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .footer .row {
    display: flex;
    flex-wrap: wrap;
  }

  .footer .right-side,
  .footer .left-side {
    width: 100%;
  }

  .footer .left-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .footer .left-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer .right-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: calc((100% - 30px) / 3);
  }

  .footer .footer-item nav {
    align-items: center;
  }

  .footer-item {
    text-align: center;
    width: 100%;
  }
}